<header>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle" menuCollapse>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" *ngIf="isAuth()"
                   [routerLink]="['/home']">
                    <img src="/assets/el-llevat-logo.jpg" alt="El llevat">
                </a>
                <div *ngIf="!isAuth()" class="navbar-brand">
                    <img src="/assets/el-llevat-logo.jpg" alt="El llevat">
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active">
                        <a *ngIf="isAuth() && isActive()" charset="active"
                           [routerLink]="['/comanda']">Fer comanda</a>
                    </li>
                    <li routerLinkActive="active">
                        <a *ngIf="isAdmin() && isAuth()" charset="active"
                           [routerLink]="['/admin']">Administració</a>
                    </li>
                </ul>
                <ul *ngIf="isAuth()" class="nav navbar-nav navbar-right">
                    <li dropDown class="dropdown">
                        <a class="dropdown-toggle">
                            Soci <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a (click)="logout()">Les meves dades</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="logout()">Sortir</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>