<footer class="footer animated fadeIn">
    <div class="row">
        <ul class="col-xs-12">
            <li>
                <a href="http://llevat.org" target="_blank">
                    <img src="/assets/el-llevat-icon.gif"
                         alt="El Llevat"
                         class="icon-vertical-align"> El Llevat</a>
            </li>
            <li>
                <a href="https://www.facebook.com/elllevat.denoubarris" target="_blank">
                    <i class="fa fa-facebook"
                       aria-hidden="true"></i> nucli de Nou Barris</a>
            </li>
            <li>
                <a href="https://www.facebook.com/llevatgracia" target="_blank">
                    <i class="fa fa-facebook"
                       aria-hidden="true"></i> nucli de Gràcia</a>
            </li>
            <li>
                <a href="mailto:info@llevat.org">
                    <i class="fa fa-envelope"
                       aria-hidden="true"></i> mail</a>
            </li>
        </ul>
    </div>
</footer>