<tr [ngClass]="category?.className">

    <td class="row-index"
        [ngClass]="{'reviewed': status !== 'init', 'unavailable': status === 'rejected'}">
        <span>{{index}}</span></td>
    <td><img [src]="product.imgName"
             class="img-thumbnail"></td>
    <td><a [routerLink]="['/comanda/producte', product.$key]">{{product.name}}</a>
        <br>
        <p *ngIf="status !== 'rejected'" class="label label-primary">
            {{product.price | number:'1.2-2'}} € / {{product.unity}}
        </p>
    </td>
    <td *ngIf="status === 'init'">
        <oms-product-count [counterData]="createCounterData()"
                           (updateCount)="updateOrderProductLine($event)">
        </oms-product-count>
    </td>
    <td *ngIf="status !== 'init'">
        <div *ngIf="status !== 'rejected'" class="alert alert-info text-center">
            {{tempQuantity || orderLine.quantity}} {{product.unity}}:
            <strong>{{tempTotal || orderLine.total | number:'1.2-2'}} €</strong>
            <br>
            <small>
                Abans: {{orderLine.oldQuantity}} {{product.unity}}
                <span *ngIf="modified"
                      class="badge alert-success" [ngClass]="{'alert-danger': offset < 0}">
            <span *ngIf="offset > 0">+</span>
            {{offset | number:'1.2-2'}} €</span>
            </small>
        </div>
        <div *ngIf="status === 'rejected'" class="alert alert-danger text-center">
            <strong>No disponible</strong><br>
            <small>
                Originalment: {{orderLine.oldQuantity}} {{product.unity}}
            </small>
        </div>

    </td>
    <td>
        <span *ngIf="modified && status === 'init'"
              class="badge alert-success" [ngClass]="{'alert-danger': offset < 0}">
            <span *ngIf="offset > 0">+</span>
            {{offset | number:'1.2-2'}} €</span>
    </td>
    <td>
        <div class="btn-group" *ngIf="status === 'init'">
            <button class="btn btn-success" type="button" (click)="lineOk()"><span
                    class="glyphicon glyphicon-ok"
                    aria-hidden="true"></span>
            </button>
            <button class="btn btn-danger" type="button" (click)="lineKo()"><span
                    class="glyphicon glyphicon-remove"
                    aria-hidden="true"></span></button>
        </div>
        <button *ngIf="status !== 'init'" class="btn btn-primary" type="button" (click)="reset()"><span
                class="glyphicon glyphicon-refresh"
                aria-hidden="true"></span></button>
    </td>
</tr>