<div class="row animated fadeIn">
    <!-- sidebar -->
    <aside class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 sidebar">
        <oms-admin-order-cart
                [orderKey]="order.$key"
                [total]="total"
                [oldTotal]="oldTotal"
                [userId]="userId"
                [orderRevised]="orderRevised">
        </oms-admin-order-cart>
    </aside>

    <!-- products table -->
    <div class="col-sm-9 col-md-10 main">
        <div class="panel panel-primary">
            <div class=" panel-heading">
                <h1><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    Comanda</h1>
                <div class="alert alert-info">
                    <strong>Codi:</strong>
                    <small>{{order.$key}}</small>
                    <br><strong>Data registre:</strong>
                    <small>{{order.timestamp | date:'dd/MM/yyyy'}} a les {{order.timestamp | date:'hh:mm'}} h</small>
                    <div *ngIf="comment?.trim().length">
                        <strong>Comentaris:</strong>
                        <small>“{{comment}}“</small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <oms-admin-order-product-add
                        [usedProducts]="usedProducts"
                        [orderKey]="order.$key">
                </oms-admin-order-product-add>
                    <table class="table table-responsive table-striped animated fadeIn">
                        <tbody class="oms-admin-order-detail-list-item"
                               *ngFor="let line of orderLines; let i=index;"
                               [index]="i+1"
                               [orderKey]="order.$key"
                               [orderLine]="line">
                        </tbody>
                    </table>
            </div>
        </div>
        <a class="btn btn-link btn-sm" (click)="goBack()">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Tornar enrere
        </a>
    </div>
</div>
