<tr [ngClass]="category?.className">

    <td class="row-index"><span class="label">{{index}}</span></td>
    <td><img [src]="product.imgName"
             class="img-thumbnail"></td>
    <td><a [routerLink]="['/comanda/producte', product.$key]">{{product.name}}</a>
        <br>
        <p class="label label-primary">
            {{product.price | number:'1.2-2'}} € / {{product.unity}}
        </p>
    </td>
        <td>
            <oms-product-count [counterData]="createCounterData()"
                               (updateCount)="updateOrderProductLine($event)">
            </oms-product-count>
        </td>
    <td></td>
</tr>