<div class="row animated fadeIn">
    <!-- sidebar -->
    <aside class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 sidebar">

    </aside>

    <!-- products table -->
    <div class="col-sm-9 col-md-10 main">
        <div class="panel panel-primary">
            <div class=" panel-heading"><h1><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                Comanda {{order.$key}} - {{order.timestamp}}</h1></div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
