<article class="container" class="animated fadeIn">
    <div class="jumbotron">
        <h2>Actualitza la teva contrasenya</h2>
        <strong *ngIf="email">Compte de correu:{{email}}</strong>
        <form novalidate
              autocomplete="off"
              [formGroup]="resetPasswordForm"
              (ngSubmit)="onResetFormSubmit()">
            <div class="form-group">
                <input formControlName="password"
                       type="password" class="form-control"
                       required name="password"
                       selectOnFocus
                       placeholder="Contrassenya">
            </div>
            <button type="submit" class="btn btn-primary"
                    [disabled]="!resetPasswordForm.valid">Enviar
            </button>
            <div class="alert alert-danger"
                 *ngIf="showError">{{errorMessage}}
            </div>
        </form>
    </div>

</article>