<div class="row animated fadeIn">
    <!-- sidebar -->
    <aside class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 sidebar">
        <oms-cart></oms-cart>
        <oms-category-filter-menu (filterByActive)="doFilterActive($event)"
                                  (filterByCategory)="doFilterCategory($event)">
        </oms-category-filter-menu>
    </aside>

    <!-- products table -->
    <div class="col-sm-9 col-md-10 main">
        <div class="panel panel-primary">
            <div class=" panel-heading"><h1><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                {{listProductTitle}}</h1></div>
            <div class="panel-body">

                <oms-name-filter-list (filterBy)="doFilter($event)"></oms-name-filter-list>
                <oms-products-selection (filterBySelected)="doFilterSelected($event)"></oms-products-selection>
                <div class="table-responsive table-hover table-condensed"
                     *ngIf="products?.length">
                    <table class="table table-striped animated fadeIn">
                        <tbody class="oms-product-list-item"
                               *ngFor="let product of products |
                                    productFilter:listFilter |
                                    productCategoryFilter:categoryFilter |
                                    productActiveFilter:activeFilter |
                                    productSelectedFilter:selectedFilter"
                               [product]="product">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>