<tr [isActive]="product.active"
    [styleKo]="'disabled'"
    [ngClass]="category?.className"
    [class.selected]="product.selected">

    <td></td>
    <td><img [src]="product.imgName"
             class="img-thumbnail"></td>
    <td>
        <a [routerLink]="['producte', product.$key]">{{product.name}}</a>
        <br>
        <p class="label label-primary">
            {{product.price | number:'1.2-2'}} € / {{product.unity}}
        </p>
    </td>
    <td>
        <oms-product-tags
                [productKey]="product.$key">
        </oms-product-tags>
    </td>
    <td>
        <small>{{product.comment}}</small>
    </td>
    <td>
        <oms-product-count [counterData]="createCounterData()"
                           *ngIf="product.active">
        </oms-product-count>
        <span *ngIf="!product.active"
              class="label label-danger">No disponible</span>
    </td>
</tr>