<div class="panel panel-primary">
    <div class="panel-heading">{{listProductTitle}}</div>
    <div class="panel-body">

        <oms-filter-list (filterBy)="doFilter($event)"></oms-filter-list>

        <div class="table-responsive table-hover table-condensed"
             *ngIf="products && products.length">
            <!--<p>Products: {{numFilteredProducts.length}}</p>-->
            <table class="table">
                <tbody>
                <tr [isActive]="product.active"
                    [styleKo]="'disabled'" #filteredProducts
                    [ngClass]="getCategoryClass(product)"
                    *ngFor="let product of products | productFilter:listFilter">

                    <td></td>
                    <td><img [src]="getThumbUrl(product.imgName)"
                             class="img-thumbnail"></td>
                    <td>
                        <a routerLink="/producte/{{product.$key}}">{{product.name}}</a>
                    </td>
                    <td>
                        <oms-product-tags
                                [allTags]="allTags"
                                [tags]="product.tags">
                        </oms-product-tags>
                    </td>
                    <td><small>{{product.comment}}</small></td>
                    <td>
                        <span *ngIf="!product.active" class="label label-danger" >No disponible</span>
                        <div *ngIf="product.active">{{product.price | currency:'EUR':true:'1.2-2'}}</div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>