<div class="panel panel-primary">
    <div class="panel-heading">{{listProductTitle}}</div>
    <div class="panel-body">

        <oms-filter-list (filterBy)="doFilter($event)"></oms-filter-list>

        <div class="table-responsive table-hover table-condensed" *ngIf="products && products.length">
            <table class="table">
                <tbody>
                <tr [ngClass]="getCategoryClass(product)"
                    *ngFor="let product of products | productFilter:listFilter">
                    <td><img src=""></td>
                    <td><a routerLink="/producte/{{product.id}}">{{product.name}}</a></td>
                    <td>
                        <oms-product-tags [allTags]="allTags" [tags]="product.tags"></oms-product-tags>
                    </td>
                    <td><small>{{product.comment}}</small></td>
                    <td>{{product.price | currency:'EUR':true:'1.2-2'}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>