<div class="panel panel-primary">
    <div class="panel-heading">{{listProductTitle}}</div>
    <div class="panel-body">

        <oms-filter-list (filterBy)="doFilter($event)"></oms-filter-list>

        <div class="table-responsive table-hover table-condensed"
             *ngIf="products?.length">
            <!--<p>Products: {{numFilteredProducts.length}}</p>-->
            <table class="table table-responsive">
                <tbody>
                <tr #filteredProducts
                    *ngFor="let product of products | productFilter:listFilter"
                    [isActive]="product.active"
                    [styleKo]="'disabled'"
                    [ngClass]="getCategoryClass(product.category)">

                    <td></td>
                    <td><img [src]="getThumbUrl(product.imgName)"
                             class="img-thumbnail"></td>
                    <td>
                        <a [routerLink]="['/producte', product.$key]">{{product.name}}</a>
                        <br>
                        <p class="label label-primary">
                            {{product.price | number:'1.2-2'}} € / {{product.unity}}
                        </p>
                    </td>
                    <td>
                        <oms-product-tags
                                [allTags]="allTags"
                                [tags]="product.tags">
                        </oms-product-tags>
                    </td>
                    <td>
                        <small>{{product.comment}}</small>
                    </td>
                    <td>
                        <oms-products-count [product]="product" *ngIf="product.active"></oms-products-count>
                        <span *ngIf="!product.active"
                              class="label label-danger">No disponible</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>