oms-admin-orders {
  .label {
    font-size: 75%;
    display: inline-block;
    margin: 2px 0;
    float: left;
    color: $productsResumeColor;
    padding: 2px;
    @include border-radius(0);
    &::after {
      content: ", ";
    }
    &:last-child::after {
      content: "";
    }
  }

  .table-striped > tbody > tr {
    cursor: pointer;
    > td:first-child {
      background-color: grayscale(lighten($resumeChecked, 40%));
    }
    &.checked > td:first-child {
      background-color: $resumeChecked;
    }
  }
  td:nth-child(4) {
    min-width: 80px;
  }

  td:nth-child(5) {
    min-width: 180px;
  }
  td:nth-child(3), th:nth-child(3) {
    display: none;
  }
  @media #{$min768} {
    td:nth-child(3), th:nth-child(3) {
      display: table-cell;
    }
  }
  @media #{$max510} {
    td:nth-child(5), th:nth-child(5) {
      display: none;
    }
  }

}

oms-admin-order-detail {
  .table-striped > tbody > tr {
    td:nth-child(2) {
      display: none;
    }
    @media #{$min768} {
      td:nth-child(2) {
        display: table-cell;
      }
    }
  }
}