oms-admin-orders {
  .label {
    font-size: 75%;
    display: inline-block;
    margin: 2px 0;
    float: left;
    color: $productsResumeColor;
    padding: 2px;
    @include border-radius(0);
    &::after {
      content: ", ";
    }
    &:last-child::after {
      content: "";
    }
  }

  .table-striped > tbody > tr {
    cursor: pointer;
    > td:first-child {
      background-color: grayscale(lighten($resumeChecked, 40%));
    }
    &.checked > td:first-child {
      background-color: $resumeChecked;
    }
  }
  td:nth-child(4) {
    min-width: 80px;
  }

  td:nth-child(5) {
    min-width: 180px;
  }
  td:nth-child(3), th:nth-child(3) {
    display: none;
  }
  @media #{$min768} {
    td:nth-child(3), th:nth-child(3) {
      display: table-cell;
    }
  }
  @media #{$max510} {
    td:nth-child(5), th:nth-child(5) {
      display: none;
    }
  }

}

oms-admin-order-detail {
  .table-striped > tbody > tr {
    td:nth-child(2), td:nth-child(5) {
      display: none;
    }

    td:nth-child(6) {
      min-width: 95px;
    }
    @media #{$min995} {
      td:nth-child(2) {
        display: table-cell;
      }
    }
    @media #{$min900} {
      td:nth-child(5) {
        display: table-cell;
      }
    }
    @media #{$min768} {
      td:nth-child(4) {
        min-width: 220px;
      }
    }
    @media #{$max510} {
      td:nth-child(3) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 90px;
      }
      td:nth-child(4) {
        width: 130px;
        > .alert {
          display: table;
        }
      }
      td:nth-child(6) {
        max-width: 40px;
        .btn-group {
          > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-bottom-left-radius: 0;
            border-top-right-radius: 4px;
          }

          > .btn:last-child:not(:first-child) {
            border-bottom-left-radius: 4px;
            border-top-right-radius: 0;
          }
        }
      }
    }
  }
}

oms-admin-order-product-add {
  .form-inline {
    margin-bottom: 1em;
  }
  .filtered-products {
    .filtered-product {
      margin: 0.25em 0.35em 0.25em 0;
    }
  }

}