.navbar {

  &-brand {
    height: auto;
    padding: 5px 15px;
  }
  &-nav {
    cursor: pointer;
    li {
      a {
        line-height: 35px;
      }
    }
    @media #{$max767} {
      .dropdown-menu {
        position: initial;
        @include transition(max-height 0.25s ease-out, opacity 0.2s linear);
        max-height: 0;
        display: inline-block;
        opacity: 0;
        width: 100%;
        border: none;
        padding: 0;
        @include box-shadow(none);
        background-color: inherit;
        > li > a {
          padding: 5px 15px 5px 25px;
          color: #777;
          line-height: 20px;
        }
      }
      .open .dropdown-menu {
        position: initial;
        float: left;
        opacity: 1;
        max-height: 300px;
        @include transition(max-height 0.15s ease-out, opacity 0.05s linear);
        width: 100%;

      }
    }
  }
  &-static-top {
    border: 0;
    .navbar-collapse {
      display: block;
      max-height: 0;
      overflow-y: hidden;
      @include single-transition(max-height 0.3s ease-out);
      &.in {
        max-height: 300px;
        @include single-transition(max-height 0.2s ease-out);
      }
    }

  }

}