.navbar {

  &-brand {
    height: auto;
    padding: 5px 15px;
  }
  &-nav {
    li {
      a {
        line-height: 35px;
      }
    }
    @media #{$max767} {
      .dropdown-menu {
        position: initial;
        transition: max-height 0.35s ease-out;
        max-height: 0;
        display: inline-block;
        width: 100%;
        border: none;
        padding: 0;
        box-shadow: none;
        background-color: inherit;
        > li > a {
          padding: 5px 15px 5px 25px;
          color: #777;
          line-height: 20px;
        }
      }
      .open .dropdown-menu {
        position: initial;
        float: left;
        max-height: 300px;
        transition: max-height 0.25s ease-in;
        width: 100%;

      }
    }
  }
  &-static-top {
    border: 0;
    .navbar-collapse {
      display: block;
      max-height: 0;
      overflow-y: hidden;
      transition: max-height 0.4s ease-in;
      &.in {
        max-height: 300px;
        transition: max-height 0.3s ease-out;
      }
    }

  }

}