/* categories classes for background color */
@each $color, $value in $productsColors {

  p.#{$color} {
    color: darken($value, 50%);
    background-color: $value;
    text-transform: capitalize;
  }

  .table > tbody > tr.#{$color} {
    td:first-child {
      background-color: $value;

    }
    td.row-index {
      display: table-cell;
      vertical-align: middle;
      max-width: 40px;
      > span {
        color: darken($value, 30%);
        font-size: 0.9em;
      }
      &.reviewed {
        background: darken($value, 30%);
        > span {
          color: $value;
        }
      }
    }
    td > .label-primary {
      background-color: darken($value, 30%);
    }
    &.selected {
      td:first-child {
        background-color: darken($value, 30%);
      }
    }
    .alert {
      margin-bottom: 0;
    }
  }

  .nav-sidebar > li {
    &.#{$color} {
      & > a {
        color: #fff;
        border-left: 10px solid $value;
        background-color: darken($value, 20%);
        transition: border-left 0.3s, background-color 0.2s;
      }
      &.active > a, & a:hover {
        border-left: 20px solid darken($value, 10%);
        background-color: darken($value, 30%);
      }
    }

  }
}
