/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar > :nth-child(n+2) {
  display: none;
}

@media #{$min768} {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 70px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: $backgroundLightColor;
    border-right: 1px solid #eee;
    & > :nth-child(n+2) {
      display: block;
    }
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  & > li > a {
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
  }

}
