$backgroundLightColor: #f8f8f8;
$totalRowBackgroundColor: rgba(169, 68, 66, 0.2);
$totalRowColor: #272727;
$productsColors: (
        chicken: #FFF3F1,
        fruit: #ffe1ca,
        vegetable: #CED9C8,
        all: #369ddd
);
$productsResumeColor: #272727;
$resumeChecked: #98bf0a;

$mediumFontSize: 12px;

$maxTablet: "(max-width: 1024px)";
$min900: "(min-width: 900px)";
$max767: "(max-width: 767px)";
$min768: "(min-width: 768px)";
$max660: "(max-width: 660px)";
$max510: "(max-width: 510px)";
$min511: "(min-width: 511px)";