$backgroundLightColor: #f5f5f5;
$productsColors: (
        chicken: #FFF3F1,
        fruit: #ffe1ca,
        vegetable: #CED9C8
);

$mediumFontSize: 12px;

$maxTablet: "(max-width: 1024px)";
$max767: "(max-width: 767px)";
$min768: "(min-width: 768px)";
$max660: "(max-width: 660px)";
$max510: "(max-width: 510px)";