@import '~compass-mixins';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lemonada:600');
@import 'header';
@import 'sidebar';
@import 'cart';
@import 'order-list';
@import 'product-detail';
@import 'product-categories';
@import 'product-tags';
@import 'product-count';
@import 'resume';
@import 'admin-order';
@import 'footer';

/*
 * Base structure
 */

body {
  font-family: 'Lato', sans-serif;
}

/*
 * Global add-ons
 */
h1 {
  , .jumbotron & {
    font-size: 1.7em;
    margin-top: 10px;
    font-family: 'Lemonada', cursive;
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Main content
 */
.main {
  padding: 20px;
  .page-header {
    margin-top: 0;
  }
}

@media #{$max767} {
  .main {
    padding: 0;
    .panel-primary {
      border: none;
    }

  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.oms-root {
  position: relative;
  & > .container-fluid {
    margin-top: 25px;
  }
}
/* container for login, reset and forgot pass */
.container-padding {
  padding-top: 25px;
}

.icon-vertical-align {
  vertical-align: text-top;
}

/* input with clear option
-------------------------------------------------- */
.form-inline {
  margin-bottom: 5px;
}

/* Hide Internet Explorer default clear button
using the ::-ms-clear CSS pseudo-element.*/
::-ms-clear {
  display: none;
}

.form-control-clear {
  top: 3px;
  right: 25px;
  color: #555555;
  display: none;
}

@media #{$max767} {
  .form-control-clear {
    float: right;
    top: -24px;
    right: 10px;
  }
}

.with-clear {
  @media #{$max767} {
    margin: 0 20px;
  }
  input {
    padding-right: 25px;
    &:valid + .form-control-clear {
      display: inherit;
    }
  }
}

/* input validation
 -------------------------------------------------- */
input[type="text"], input[type="email"], input[type="password"] {
  &.ng-touched.ng-invalid {
    border-left: 10px solid #a94442;
  }
  &.ng-valid, &.ng-pristine {
    border-left: 10px solid #97c000;
  }
}

/* change animation duration
 -------------------------------------------------- */
.animated {
  -webkit-animation-duration: 200s;
  animation-duration: 200ms;
  /* issue with z-index on hovering elements */
  -webkit-animation-fill-mode: initial; //Changed from both to initial
  animation-fill-mode: initial; //Changed from both to initial
}
/* Remove left and right gutter from bootstrap grid system
 -------------------------------------------------- */
.no-gutter {
   [class^="col-"] {
      padding-left: 0;
      padding-right: 0;
  }
}
