<div class="jumbotron">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-user"
                  aria-hidden="true"></span> Nou soci</h1>
    </div>
    <div class="main-center">
        <form class="form-horizontal"
              novalidate
              autocomplete="off"
              [formGroup]="registerForm">

            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input formControlName="name"
                               type="text" class="form-control"
                               required name="name"
                               selectOnFocus
                               placeholder="Nom *">
                        <input formControlName="secondName"
                               type="text" class="form-control"
                               required name="secondName"
                               selectOnFocus
                               placeholder="Cognom(s) *">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                    <div class="input-group no-gutter">
                        <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <div class="col-md-6 col-sm-12">
                            <input formControlName="address"
                                   type="text" class="form-control col-md-12"
                                   required name="address"
                                   selectOnFocus
                                   placeholder="Adreça">
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <input formControlName="cp"
                                   type="text" class="form-control"
                                   required name="cp"
                                   selectOnFocus
                                   placeholder="CP">
                        </div>
                        <div class="col-md-4 col-sm-8">
                            <input formControlName="city"
                                   type="text" class="form-control"
                                   required name="city"
                                   selectOnFocus
                                   placeholder="Ciutat">
                        </div>


                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <input formControlName="email"
                               type="email" class="form-control"
                               required name="email"
                               selectOnFocus
                               placeholder="Email *">
                    </div>
                </div>
            </div>

            <div class="alert alert-danger"
                 *ngIf="showError">{{errorMessage}}
            </div>
            <button (click)="onRegisterFormSubmit()" type="button" class="btn btn-primary"
                    [disabled]="!registerForm.valid">Enviar
            </button>
            <a [routerLink]="['../']">back</a>
        </form>
    </div>

</div>
