<main class="container animated fadeIn">
    <div class="jumbotron">

        <div class="page-header">
            <h1><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>Resum de comanda</h1>
            <div class="alert alert-info">Dijous, {{currentOrderDate | date:'d/MM/y'}}</div>
            <div class="alert alert-warning"
                   *ngIf="isActive">El plaç per fer comandes encara no ha acabat, per lo tant el llistat pot variar.</div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Producte</th>
                    <th>Quantitat</th>
                    <th>Unitat</th>
                    <th>Preu total</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{product.value.name}}</td>
                    <td>{{product.value.quantity}}</td>
                    <td>{{product.value.unity}}</td>
                    <td>{{product.value.total | number:'1.2-2'}}€</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</main>