input[type="number"] {
  text-align: center;
  width: 50px;
  &:invalid {
    background-color: #FFCCCC;
  }
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
