<div class="input-group-btn">
    <button class="btn btn-primary btn-sm"
            type="button"
            (click)="decrement()">
        <span class="glyphicon glyphicon-minus"></span>
    </button>
</div>
<input [(ngModel)]="value"
       type="number" max="{{maximum}}" min="{{minimum}}" step="{{step}}"
       class="form-control input-sm">
<div class="input-group-btn">
    <button class="btn btn-primary btn-sm"
            type="button"
            (click)="increment()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>


