<oms-header></oms-header>
<div class="container-fluid">
        <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <ul class="row">
            <li><a href="http://llevat.org" target="_blank"><img src="/img/el-llevat-icon.gif" alt="El Llevat" class="icon-vertical-align"> El Llevat - 2016</a></li>
            <li><a href="https://www.facebook.com/elllevat.denoubarris" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> el llevat de Nou Barris</a></li>
            <li><a href="https://www.facebook.com/llevatgracia" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> el llevat de Gràcia</a></li>
            <li><a href="mailto:info@llevat.org"><i class="fa fa-envelope" aria-hidden="true"></i> email</a></li>
        </ul>
    </div>
</footer>