<ul class="nav nav-sidebar">
    <li><a href="#">Mostrar només seleccionat</a></li>
    <li><a (click)="onFilterByActive()">Amagar no disponibles</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li *ngFor="let category of categories">
        <a (click)="onFilter(category.name)" [ngClass]="[category.className]">{{category.name}}
        </a>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <li>
        <a *ngIf="listFilter.length" class="" (click)="onFilter('')">Totes les categories</a>
    </li>
</ul>
