<main class="container animated fadeIn">
    <div class="jumbotron" *ngIf="!orderSaved">
        <div class="page-header">
            <h1><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Resum de la teva comanda</h1>
            <small>Entrega: {{currentOrderDate | date:'d/MM/y'}}</small>
        </div>

        <form class="form-horizontal">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Producte</th>
                        <th>Quantitat</th>
                        <th>Unitat</th>
                        <th>Preu total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let line of productLines; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{line.value.name}}</td>
                        <td>{{line.value.quantity}}</td>
                        <td>{{line.value.unity}}</td>
                        <td>{{line.value.total | number:'1.2-2'}}€</td>
                    </tr>
                    <tr class="total-price-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:</td>
                        <td>{{superTotal | number:'1.2-2'}}€</td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <div class="form-group">
                <label for="comment">Comentaris</label>
                <textarea class="form-control" rows="3" id="comment"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="comment">{{comment}}</textarea>
                <span id="helpBlock"
                      class="help-block">
                    Si tens alguna indicació sobre l'entrega, ho pots indicar aquí.
                </span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary"
                        [routerLink]="['/comanda']">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                    Tornar al llistat de productes
                </button>
                <button (click)="saveOrder()" class="btn btn-success">
                    <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                    Guardar comanda
                </button>

            </div>
        </form>
    </div>

    <div class="jumbotron" *ngIf="orderSaved">
        <h1>Gràcies per la teva comanda!</h1>
        <p>Si vols descarregar-te un resum de la teva comanda fes click</p>
        <div class="form-group">
            <button class="btn btn-success">Guardar còpia</button>
        </div>
    </div>
</main>