<main class="container animated fadeIn">
    <div class="jumbotron">
        <div *ngIf="!orderSaved" class="page-header">
            <h1><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Resum de la teva comanda</h1>
            <div class="alert alert-info">Entrega: {{currentOrderDate | date:'d/MM/y'}}</div>
        </div>

        <div *ngIf="orderSaved" class="page-header">
            <h1><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Gràcies per la teva comanda!</h1>
            <small>Recorda que l'accés per modificar-la estarà actiu fins dilluns que ve a primera hora del matí
                aproximadament.
            </small>
        </div>

        <form class="form-horizontal">

            <div *ngIf="!orderSaved" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Producte</th>
                        <th>Quantitat</th>
                        <th>Unitat</th>
                        <th>Preu total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let line of productLines; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{line.value.name}}</td>
                        <td>{{line.value.quantity}}</td>
                        <td>{{line.value.unity}}</td>
                        <td>{{line.value.total | number:'1.2-2'}}€</td>
                    </tr>
                    <tr class="total-price-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:</td>
                        <td>{{superTotal | number:'1.2-2'}}€</td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div *ngIf="!orderSaved" class="form-group">
                <label for="comment">Comentaris</label>
                <textarea class="form-control" rows="3" id="comment"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="comment">{{comment}}</textarea>
                <span id="helpBlock"
                      class="help-block">
                    Si tens alguna indicació sobre l'entrega, ho pots indicar aquí.
                </span>
            </div>

            <div class="form-group">
                <a *ngIf="!orderSaved" (click)="saveOrder()" class="btn btn-success btn-lg">
                    <span aria-hidden="true" class="glyphicon glyphicon-cloud-upload"></span> Enviar comanda
                </a>
            </div>

            <div class="form-group">
                <a class="btn btn-link btn-sm"
                   [routerLink]="['../']">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Tornar al llistat de productes
                </a>
                <a *ngIf="orderSaved" class="btn btn-link btn-sm">Descarregar còpia</a>
            </div>

        </form>
    </div>
</main>