<div class="row animated fadeIn">
    <!-- sidebar -->
    <div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 sidebar">
        <oms-cart></oms-cart>
    </div>
    <!-- products table -->
    <div class="col-sm-9 col-md-10 main">
        <div class="panel panel-primary">
            <div class="panel-heading text-capitalize">
                <h1><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> {{product.name}}</h1>
            </div>
            <div class="row panel-body">
                <div class="col-sm-6 col-md-5">
                    <p class="alert"
                       [isActive]="product.active"
                       [styleOk]="'alert-success'"
                       [styleKo]="'alert-danger'">
                <span class="glyphicon"
                      [isActive]="product.active"
                      [styleOk]="'glyphicon-ok-circle'"
                      [styleKo]="'glyphicon-ban-circle'">
                </span>
                        {{product.active ? 'Disponible' : 'No disponible'}}
                    </p>
                    <p class="alert" [ngClass]="category.className">{{category.name}}</p>
                    <ul class="list-group">

                        <li class="list-group-item">
                            <strong>Descripció:</strong> {{product.comment}}
                            <br>{{product.description}}
                        </li>
                        <li class="list-group-item">
                            <oms-product-tags
                                    [productKey]="product.$key">
                            </oms-product-tags>
                        </li>
                        <li class="list-group-item">
                            <oms-product-count [counterData]="createCounterData()"
                                               (updateCount)="updateOrderProductLine($event)"
                                               *ngIf="product.active">
                            </oms-product-count>
                        </li>
                    </ul>


                </div>
                <div class="col-sm-6 col-md-7">

                    <img class="img-responsive img-thumbnail thumbnail"
                         [src]="product.imgName"
                         alt="{{product.name}}">
                </div>
            </div>
            <a class="btn btn-link btn-sm" (click)="goBack()">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Tornar enrere
            </a>
        </div>
    </div>
</div>