<div class="container container-padding">
    <article class="container" class="animated fadeIn">
        <div class="jumbotron">
            <h2>He oblidat la contrasenya</h2>
            <small><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Escriu la teva adreça de correu
                electrònic i t'enviarem un missatge perquè puguis resetejar-la.
            </small>
            <form novalidate
                  autocomplete="off"
                  [formGroup]="resetPasswordForm"
                  (ngSubmit)="onResetFormSubmit()">
                <div class="form-group">
                    <input formControlName="email"
                           type="email" class="form-control"
                           required name="email"
                           selectOnFocus
                           placeholder="Email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                            [disabled]="!resetPasswordForm.valid">Enviar
                    </button>
                </div>
                <div class="alert alert-danger"
                     *ngIf="showError">{{errorMessage}}
                </div>
                <div class="alert alert-info"
                     *ngIf="showOk">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Ben fet! Revisa la teva safata
                    d'email.
                </div>
            </form>
            <hr>
            <a [routerLink]="['../login']"
               class="btn btn-link">Pàgina de login</a>
        </div>

    </article>
</div>