<div class="panel panel-info">
    <div class="panel-heading strong text-center">
            <strong>{{user.name}} {{user.secondName}}</strong><br>
            <small>{{user.address}} {{user.cp}} {{user.city}}</small><br>
            <small>Tel: {{user.tel}}</small>
        <h3>{{total | number:'1.2-2'}} €<br>
            <small *ngIf="total !== oldTotal">
                (Abans: {{oldTotal | number:'1.2-2'}} €)
            </small>
        </h3>
    </div>
    <div *ngIf="orderRevised" class="panel-body text-center">
        <button (click)="closeOrder()" class="btn btn-success" [disabled]="superTotal == 0">Finalitzar</button>
    </div>
</div>