.label {
  font-weight: normal;
  display: inline-block;
  margin: 0 1px 5px 1px;
  &-eco {
    background-color: #538830;
  }
  &-new {
    background-color: #C21F39;
  }
  &-just {
    background-color: #5e4b4f;
  }
}
